section.banner
    | banner
section.realtors
    | realtors
section.benefits
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
section.intro
    .intro__box.intro__1
        image(src="../../images/story-1.jpeg" alt="image 1")
    .intro__box.intro__2
        image(src="../../images/story-2.jpeg" alt="image 2")
section.decision
    .decision__box
        h5.heading--primary.text-uppercase.mb-1 happy customers
        h2.heading--dancing.heading--secondary.mb-1 &ldquo;The best decision of our lives&rdquo;
        p.heading--secondary.mb-2= dummy
        button.btn-action find your own home
section.apartment
    .apartment__box
        figure.apartment__image
            i.fa.fa-heart
            image(src="../../images/house-5.jpeg" alt="house 5")
        .house__label Large Rustical Villa
        .apartment__info
            .apartment__info__location
                i.fa.fa-map-marker
                | Portugal
            .apartment__info__area
                i.fa.fa-map
                | 480 m
                sup 2
            .apartment__info__rooms
                i.fa.fa-user
                | 6 rooms
            .apartment__info__price
                i.fa.fa-key
                | $1,950,000
        button.btn-action contact realtor
    .apartment__box
        figure.apartment__image
            i.fa.fa-heart
            image(src="../../images/house-5.jpeg" alt="house 5")
        .house__label Large Rustical Villa
        .apartment__info
            .apartment__info__location
                i.fa.fa-map-marker
                | Portugal
            .apartment__info__area
                i.fa.fa-map
                | 480 m
                sup 2
            .apartment__info__rooms
                i.fa.fa-user
                | 6 rooms
            .apartment__info__price
                i.fa.fa-key
                | $1,950,000
        button.btn-action contact realtor
    .apartment__box
        figure.apartment__image
            i.fa.fa-heart
            image(src="../../images/house-5.jpeg" alt="house 5")
        .house__label Large Rustical Villa
        .apartment__info
            .apartment__info__location
                i.fa.fa-map-marker
                | Portugal
            .apartment__info__area
                i.fa.fa-map
                | 480 m
                sup 2
            .apartment__info__rooms
                i.fa.fa-user
                | 6 rooms
            .apartment__info__price
                i.fa.fa-key
                | $1,950,000
        button.btn-action contact realtor
    .apartment__box
        figure.apartment__image
            i.fa.fa-heart
            image(src="../../images/house-5.jpeg" alt="house 5")
        .house__label Large Rustical Villa
        .apartment__info
            .apartment__info__location
                i.fa.fa-map-marker
                | Portugal
            .apartment__info__area
                i.fa.fa-map
                | 480 m
                sup 2
            .apartment__info__rooms
                i.fa.fa-user
                | 6 rooms
            .apartment__info__price
                i.fa.fa-key
                | $1,950,000
        button.btn-action contact realtor
    .apartment__box
        figure.apartment__image
            i.fa.fa-heart
            image(src="../../images/house-5.jpeg" alt="house 5")
        .house__label Large Rustical Villa
        .apartment__info
            .apartment__info__location
                i.fa.fa-map-marker
                | Portugal
            .apartment__info__area
                i.fa.fa-map
                | 480 m
                sup 2
            .apartment__info__rooms
                i.fa.fa-user
                | 6 rooms
            .apartment__info__price
                i.fa.fa-key
                | $1,950,000
        button.btn-action contact realtor
    .apartment__box
        figure.apartment__image
            i.fa.fa-heart
            image(src="../../images/house-5.jpeg" alt="house 5")
        .house__label Large Rustical Villa
        .apartment__info
            .apartment__info__location
                i.fa.fa-map-marker
                | Portugal
            .apartment__info__area
                i.fa.fa-map
                | 480 m
                sup 2
            .apartment__info__rooms
                i.fa.fa-user
                | 6 rooms
            .apartment__info__price
                i.fa.fa-key
                | $1,950,000
        button.btn-action contact realtor   
section.gallery
    | gallery