section.banner
    | banner
section.realtors
    | realtors
section.benefits
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
section.intro
    .intro__box.intro__1
        image(src="../../images/story-1.jpeg" alt="image 1")
    .intro__box.intro__2
        image(src="../../images/story-2.jpeg" alt="image 2")
section.decision
    .decision__box
        h5.heading--primary.text-uppercase.mb-1 happy customers
        h2.heading--dancing.heading--secondary.mb-1 &ldquo;The best decision of our lives&rdquo;
        p.heading--secondary.mb-2= dummy
        button.btn-action find your own home
section.apartment
    | apartment
section.gallery
    | gallery