section.banner
    .banner__logo
        img(src="../../images/logo.png" class="banner__image" alt="")
    .banner__caption
        h5.heading--primary.text-uppercase.mb-1 your own home
        h2.heading--light.mb-2 The ultimate personal freedom
        button.btn-action view our properties
    .banner__sme
        span Seen on
        .banner__sme-logo
            img(src="../../images/logo-bbc.png" class="banner__image" alt="")
            img(src="../../images/logo-bi.png" class="banner__image" alt="")
            img(src="../../images/logo-forbes.png" class="banner__image" alt="")
            img(src="../../images/logo-techcrunch.png" class="banner__image" alt="")
section.realtors
    h5.heading--primary.text-uppercase.mb-1 Top 3 realtors
    .realtors__box
        img(src="../../images/realtor-1.jpeg", alt="")
        .realtors__box-name Erik Feinman
        .realtors__box-follow 245 house sold
    .realtors__box
        img(src="../../images/realtor-2.jpeg", alt="")
        .realtors__box-name Erik Feinman
        .realtors__box-follow 245 house sold
    .realtors__box
        img(src="../../images/realtor-3.jpeg", alt="")
        .realtors__box-name Erik Feinman
        .realtors__box-follow 245 house sold
section.benefits
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.heading--dark= text
        p.benefits__text= dummy
section.intro
    .intro__box.intro__1
        image(src="../../images/story-1.jpeg" alt="image 1")
    .intro__box.intro__2
        image(src="../../images/story-2.jpeg" alt="image 2")
section.decision
    .decision__box
        h5.heading--primary.text-uppercase.mb-1 happy customers
        h2.heading--dancing.heading--secondary.mb-1 &ldquo;The best decision of our lives&rdquo;
        p.heading--secondary.mb-2= dummy
        button.btn-action find your own home
section.apartment
    .apartment__box
        figure.apartment__image
            i.fa.fa-heart
            image(src="../../images/house-5.jpeg" alt="house 5")
        .house__label Large Rustical Villa
        .apartment__info
            .apartment__info__location
                i.fa.fa-map-marker
                | Portugal
            .apartment__info__area
                i.fa.fa-map
                | 480 m
                sup 2
            .apartment__info__rooms
                i.fa.fa-user
                | 6 rooms
            .apartment__info__price
                i.fa.fa-key
                | $1,950,000
        button.btn-action contact realtor
    .apartment__box
        figure.apartment__image
            i.fa.fa-heart
            image(src="../../images/house-5.jpeg" alt="house 5")
        .house__label Large Rustical Villa
        .apartment__info
            .apartment__info__location
                i.fa.fa-map-marker
                | Portugal
            .apartment__info__area
                i.fa.fa-map
                | 480 m
                sup 2
            .apartment__info__rooms
                i.fa.fa-user
                | 6 rooms
            .apartment__info__price
                i.fa.fa-key
                | $1,950,000
        button.btn-action contact realtor
    .apartment__box
        figure.apartment__image
            i.fa.fa-heart
            image(src="../../images/house-5.jpeg" alt="house 5")
        .house__label Large Rustical Villa
        .apartment__info
            .apartment__info__location
                i.fa.fa-map-marker
                | Portugal
            .apartment__info__area
                i.fa.fa-map
                | 480 m
                sup 2
            .apartment__info__rooms
                i.fa.fa-user
                | 6 rooms
            .apartment__info__price
                i.fa.fa-key
                | $1,950,000
        button.btn-action contact realtor
    .apartment__box
        figure.apartment__image
            i.fa.fa-heart
            image(src="../../images/house-5.jpeg" alt="house 5")
        .house__label Large Rustical Villa
        .apartment__info
            .apartment__info__location
                i.fa.fa-map-marker
                | Portugal
            .apartment__info__area
                i.fa.fa-map
                | 480 m
                sup 2
            .apartment__info__rooms
                i.fa.fa-user
                | 6 rooms
            .apartment__info__price
                i.fa.fa-key
                | $1,950,000
        button.btn-action contact realtor
    .apartment__box
        figure.apartment__image
            i.fa.fa-heart
            image(src="../../images/house-5.jpeg" alt="house 5")
        .house__label Large Rustical Villa
        .apartment__info
            .apartment__info__location
                i.fa.fa-map-marker
                | Portugal
            .apartment__info__area
                i.fa.fa-map
                | 480 m
                sup 2
            .apartment__info__rooms
                i.fa.fa-user
                | 6 rooms
            .apartment__info__price
                i.fa.fa-key
                | $1,950,000
        button.btn-action contact realtor
    .apartment__box
        figure.apartment__image
            i.fa.fa-heart
            image(src="../../images/house-5.jpeg" alt="house 5")
        .house__label Large Rustical Villa
        .apartment__info
            .apartment__info__location
                i.fa.fa-map-marker
                | Portugal
            .apartment__info__area
                i.fa.fa-map
                | 480 m
                sup 2
            .apartment__info__rooms
                i.fa.fa-user
                | 6 rooms
            .apartment__info__price
                i.fa.fa-key
                | $1,950,000
        button.btn-action contact realtor   
section.gallery
    figure.gallery__1
        img(src="../../images/gal-1.jpeg" class="gallery__image" alt="")
    figure.gallery__2
        img(src="../../images/gal-2.jpeg" class="gallery__image" alt="")
    figure.gallery__3
        img(src="../../images/gal-3.jpeg" class="gallery__image" alt="")
    figure.gallery__4
        img(src="../../images/gal-4.jpeg" class="gallery__image" alt="")
    figure.gallery__5
        img(src="../../images/gal-5.jpeg" class="gallery__image" alt="")
    figure.gallery__6
        img(src="../../images/gal-6.jpeg" class="gallery__image" alt="")
    figure.gallery__7
        img(src="../../images/gal-7.jpeg" class="gallery__image" alt="")
    figure.gallery__8
        img(src="../../images/gal-8.jpeg" class="gallery__image" alt="")
    figure.gallery__9
        img(src="../../images/gal-9.jpeg" class="gallery__image" alt="")
    figure.gallery__10
        img(src="../../images/gal-10.jpeg" class="gallery__image" alt="")
    figure.gallery__11
        img(src="../../images/gal-11.jpeg" class="gallery__image" alt="")
    figure.gallery__12
        img(src="../../images/gal-12.jpeg" class="gallery__image" alt="")
    figure.gallery__13
        img(src="../../images/gal-13.jpeg" class="gallery__image" alt="")
    figure.gallery__14
        img(src="../../images/gal-14.jpeg" class="gallery__image" alt="")